* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000;

}

.header {
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    margin: auto;
    padding: 15px;
}

/* Logo area */

.logo{
    width: 100px;
}
.logoimg {
    margin: 5px;
    color: #b28756;
    font-size: 70px;
}

/* Menu area */

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 7px;
    padding-right: 8px;
    margin-left: 8px;
    border-bottom: 5.5px solid #000;
    text-transform: uppercase;
    font-size: 0.90em;
    font-weight: 700;
    text-decoration: none;
    color: #b6b6b6;
}
.menu li.active a,
.menu li a:hover {
    border-bottom: 5.5px solid #b28756;
    color: #fff;
  
/* Banner\Slide Section */

}
.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 43px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .slides {
    display: flex;
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 73px;
    letter-spacing: -2.03px;
}
.banner h1 span{
    margin-top: -30px;
    color: #b28756;
 }
 .banner h2 {
    padding-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.banner .slidepointers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
    width: 100vw;
    height: 20px;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #aa5f0a;
}

/* Default styles */

.default {
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
    font-weight: 600;
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 13px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.light {
    background-color: #f7f7f7;
}
.light .section-title,
.light .section-body {
    color: #000;
}
.dark {
    background-color: #000;
}
.dark .section-title, 
.dark .section-body {
    color: #f7f7f7;
}



/* About us Section */

.section-aboutus {
    display: flex;
    justify-content: center;
}
.section-aboutus--left {
    padding-left: 20px;
    flex: 1;
}
.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right {
    width: 520px;
    text-align: center;
    
}
.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #000 ;
}

/* Services Section */

.section-services {
    display: flex;
    flex-wrap: wrap;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 2px solid #333;
    padding: 19px;

}
.section-service:first-child {
    border-left: 2px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* Projects Section */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul {
    font-size: 0;
}
.section-projects--filters ul
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    border-left: 1px solid #ccc;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #b28756;
    cursor: pointer;
}
.section-projects--filters li:first-child {
    border-left: none;
    padding-left: 30px;
}
.section-projects--filters li:last-child {
    padding-right: 30px;
}
.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    margin: 15px;
    width: 255px;
}
.section-projects--photoarea {

    width: 255px;
    height: 165px;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.section-projects--photoinfo h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

/* Team Section */
 
.bg-team {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.section-team {
    overflow: hidden;
    max-width: 1110px;
    margin: auto;
}
.section-team-area {
    background-color: rgba(0,0,0,0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team .slides {
    display: flex;
    width: 1000vw;
}
.section-team .slide {
    width: 350px;
    height: 432px;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 30px;
    border-radius: 3px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000;
}
.section-team--avatar {
    width: 183px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 45px;
}
.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 13px;
}
.section-team--social {
    margin-top: 20px;
}
.section-team--social a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: #ccc;
    border-radius: 16.5px;
}
.section-team--social a:hover {
    background-color: #b28756;
}
.section-team--social img {
    height: 14px;
}
.section-team-area .slidepointers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 20px;
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.section-team-area .pointer.active {
    background-color: #b28756;
}

/* Clients Section */

.section-clients {
    overflow: hidden;
    max-width: 1140px;
    margin: auto; 
}
.section-clients .slides {
    width: 1000vw;
}
.section-clients .slide {
    display: inline-block;
    background-color: #fff;
    margin-right: 30px;
    border-radius: 3px;
}
.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 100vw;
    height: 100%;

}
.section-client--avatar {
    width: 183px;
    height: auto;
    padding-top: 77px;

}
.section-client--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 23px;
    margin-top: 45px;
    
}
.section-client--role {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-top: 13px;
}
.section-client--info {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}
.section-client--info img{
    width: 27px;
    margin: auto;
    
}
.section-client--info p {
    max-width: 760px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 18px;
    text-align: center;
    line-height: 27px;
    color: #999;
}
.section-clients .slidepointers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: 20px;
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.section-clients .pointer.active {
    background-color: #b28756;
}

/* Trademarks Section */

.section-trademarks {
    border-top: 1px solid #CFCFCF;
    border-bottom: 2px solid #CFCFCF;
    box-shadow: 0px 1px 5px #CFCFCF;
}
.section-trademarks .section-body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 1110px;
    margin: auto;
}
.section-trademark {
    width: 110px;
    margin: 37.5px;

}
.section-trademark img {
    display: block;
    margin: auto;    
}

/* Price Section */

.bg-price {
    background-color: #EDEDED;
    
}
.section-prices--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-price--card {
    width: 255px;
    height: 343px;
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius: 3px;
    text-align: center;
}
.section-price--card h1 {
    margin-top: 31px;
    font-size: 14px;
    text-transform: uppercase;
}
.section-price--card h4 {
    margin-top: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
.section-price--card h5 {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b6b6b6;
}
.section-price--card ul,
.section-price--card li {
    list-style: none;
    font-size: 10px;
}
.section-price--card ul {
    margin-top: 23px;
}
.section-price--card .button {
    margin-top: 28px;
    padding: 15px 30px;
    background-color: #000;
}
.section-price--card .button:hover {
    background-color: #b28756  
}

/* Premium Section */

.premium {
    box-shadow: 0px -1px 5px #d2d2d2;
}
.section-premium {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: auto; 
}
.section-clients .slides {
    width: 1000vw;
}
.section-premium .slide {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
}
.section-premium .slidearea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    width: 100vw;
    height: 100%;
}

.section-premium--img img {
    width: auto;
    padding-bottom: 60px;
    padding-left: 35px; 
}
.section-feature {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
}
.section-feature img {
    height: 30px;
    margin-right: 30px;
}
.feature-info h1 {
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 14px;
}
.feature-info h2 {
    font-weight: 300;
    text-transform: uppercase;
}
.feature-info h2,
.feature-info p {
    max-width: 334px;
    font-size: 15px;
    color: #999;
    line-height: 30px;
}
.section-premium .slidepointers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.section-premium .pointer {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #b28756;
    border-radius: 8px;
    cursor: pointer;
}
.section-premium .pointer.active {
    background-color: #b28756;
}
.section-premium button {

}
/* Some facts Section */

.section-some-facts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 285px;
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 20px;

}
.section-fact h1 {
    font-size: 48px;
    color: #B98B59;
}
.section-fact-line {
    width: 20px;
    border-top: 3px solid #7E7E7E;
}
.section-fact h4 {
    height: 60px;
    text-transform: uppercase;
    font-size: 17px;
    padding-top: 10px;
}
.section-fact p {
    margin-top: 10px;
    font-size: 11.8px;
    color: #999;
}

/* Share Section */

.share-bg {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #cfcfcf;
}
.section-share {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-share-icon {
    display: flex;
    align-items: center;
    margin-right: 60px;

}
.section-share-icon img {
    margin-right: 16px;
}
.section-share-icon h1 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #AEAEAE;
}
.section-share-social-networks {
    display: flex;
}
.section-share-social-network-iten {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 10px;
    font-weight: 600;
    color: #AEAEAE;
}
.section-share-social-network-iten:last-child {
    margin-right:0px
}
.section-share-social-network-iten a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #ccc;
    border-radius: 16.5px;
}
.section-share-social-network-iten .twitter {
    background-color: #34C5F1;
}
.section-share-social-network-iten .linkedin {
    background-color: #137CB5;
}
.section-share-social-network-iten .facebook {
    background-color: #346198;
}
.section-share-social-network-iten .googleplus {
    background-color: #E94335;
}
.section-share-social-network-iten .pinterest {
    background-color: #B71D29;
}
.section-share-social-network-iten img {
    height: 14px;
}

/* Contact us Section */

.section-contact {
    max-width: 540px;
    margin: auto;
    text-align: center;
}
.section-contact form {
    margin: 30px;
}
.section-contact--fistline{
    display: flex;
}
.section-contact--fistline input,
.section-contact input:not(.button),
.section-contact textarea {
    width:100%;
    height:40px;
    border: none;
    border-bottom: 2px solid #aeaeae;
}
.section-contact--fistline input,
.section-contact input,
.section-contact textarea {
    
    outline:0;
    text-transform: uppercase;
    margin-top: 30px;
    margin-right: 30px;
}
.section-contact--fistline input:last-child {
    margin-right: 0px;
}
.section-contact textarea {
    height: 113px;
    resize: none;
    padding-top: 10px;
}

/* Map Section */

.section-map {
    background-image: url('../../media/map.png');
    background-size: cover;
    background-position: center;
    padding-top: 36px;
    padding-bottom: 36px;
}
.section-map .section-body{
    max-width: 1140px;
    margin: auto;
}
.section-map--address-card {
    width: 100%;
    max-width: 545px;
    height: 343px;
    background-color: #fff;
    padding: 40px;
}
.section-map--address-card--line {
    display: flex;
    align-items: center;
    margin-top: 14px;
    font-size: 12px;
    color: #808080;
}
.section-map--address-card-line-img {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #ccc;
    border-radius: 17.5px;
    margin-right: 18px;
}

/* Footer Section */

.footer {

    padding-top: 31px;
    padding-bottom: 31px;
    
}
.footer .section-body {
    max-width: 1140px;
    margin: auto;
}
.section-footer{
    display: flex;
    flex-direction: row;
}
.section-footer--block {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 35px;
}
.section-footer--block:last-child {
    align-items: flex-end;
}
.section-footer--block:last-child {
    padding-right: 0px;  
}
.section-footer--block-social a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color: #373737;
    border-radius: 16.5px;
}
.section-footer--block-social a:hover {
    background-color: #b28756;
}
.section-footer--block-social img {
    height: 14px;
}
.section-footer--text {
    font-size: 12px;
    line-height: 22px;
    color: #aeaeae;
}
.section-footer--block form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    padding-top: 51px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: #373737;
}
.section-footer--block form input:not(.button) {
    width:100%;
    height:40px;
    border: none;
    border-bottom: 2px solid #aeaeae;
    background-color: #373737;
    outline:0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #aeaeae;
}
.section-footer--block form .button {
    margin-top: 28px;
}

/**/

@media (max-width:1200px) {
    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Mobile CSS */

@media /*(min-width: 450px) and */(max-width: 800px){

    /* Menu area mobile */
    .menu-opener {
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #b28756;
    }

    /**/

    .section-aboutus {
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-aboutus--left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    .section-aboutus--left {
        padding-left: 0px;
    }
    .section-aboutus--right {
        width: auto;
        max-width: 445px;
    }
    .section-aboutus--right img{
        width: 100%;
    }

    /**/

    .section-service {
        min-width: 50%;
        margin-bottom: 47px;
    }
    .section-service:first-child {
        border-left: 0;
    }
    .section-team {
        max-width: 730px;
    }

    /**/

    .section-premium .slidearea {
    }

    /**/
    .share-bg {
        padding: 0;
    }
    .section-share {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px;
    }
    .section-share-icon {
        padding: 10px;
        margin-bottom: 22px;
        margin: auto
    }
    .section-share-icon img {
        display: none;
    }
    .section-share-social-networks {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .section-share-social-network-iten {
        display: flex;
        flex-direction: column;
        margin-right:15px
    }
    .section-share-social-network-iten a {
        margin-bottom: 10px;
    }
    .footer {
        padding-top: 15px;
        padding-bottom: 0px;
    }
    .section-footer{
        flex-direction: column;
        align-items: center;
    }
    .section-footer--block {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-right:0px;
    }
    .section-footer--block-social {

        padding-top: 41px;
        padding-bottom: 41px;
    }
    .section-footer--text {
        margin-left: 32px;
        margin-right: 32px;
    }
    .email-block {
        order: -2;
    }
    .section-footer--block-copy {
        display: none;
    }
    .section-footer::after {
        padding: 28px;
        content: "Awax © 2022";
    }

}
@media (max-width: 450px){
    .menu li a {
        font-weight: bold;
        height: 75px;
        font-size: 27px;
        margin-left: 40px;
        border: 0;
    }
    .banner h1 {
        font-size: 35px;
    }
    .banner h2 {
        font-size: 17px;
    }
    .section-service {
        min-width: 100%;
    }
    .section-projects--filters {
        font-size: 13px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-projects--filters ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .section-projects--filters li {
        padding: 10px;

        font-size: 12px;
    }
    .section-projects--filters li:first-child {
        padding: 10px;
    }
    .section-projects--filters li:last-child {
        padding: 10px;
    }
    .section-projects--photoarea {
        width: 350px;
        height: 227px;
    }
    .section-projects--photo {
        width: auto;
    }
    .section-team {
        width: 350px;
    }
    .section-premium--info {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .section-map {
        padding: 0px;
        padding-bottom: 350px;
        background-size:auto;
        background-position:unset;
    }

}
